.row
  .col-sm-9
    :markdown
      ScraperWiki Classic did not support Perl.

      Nonetheless, When there is no `cpanfile` in the scraper repository, a
      default version is still installed with some useful libraries. This
      means that Perl scrapers on morph.io that were written before Buildpacks
      became standard still work unmodified.
      
    :coderay
      #!perl
      #{File.read(Morph::Language.new(:perl).default_config_file_path("cpanfile")).html_safe}
