:markdown
  The `scraperwiki` PHP library makes it easy to store data in an SQLite database.
  You need to use the `morph_defaults` branch of [our fork](https://github.com/openaustralia/scraperwiki-php/tree/morph_defaults) so that the correct database name is used.
  When you create a new scraper via morph.io we include this version in the default Composer file.

  To save data all you need to do is call the [`scraperwiki::save_sqlite` method](https://github.com/openaustralia/scraperwiki-php/tree/morph_defaults#scraperwikisave_sqliteunique_keys-data-table_name).
  Creating the database and setting up tables is done automagically by the library:

:coderay
  #!php
  scraperwiki::save_sqlite(array("name"), array("name" => "susan", "occupation" => "software developer");
