%div{ id: "owner_#{owner.nickname}_content" }
  %p
    %i.fa.fa-github.fa-2x.fa-spin
    Hang on. Getting your repositories from GitHub&hellip;
:javascript
  $(document).ready(function(){
    $("#owner_#{owner.nickname}_content").load("#{github_form_scrapers_path(id: owner.id)}")
  });
