%h3 Finished Runs

-# TODO Only show a limited number of the most recent runs
%ul.list-group
- @scraper.runs.where("finished_at IS NOT NULL").order(finished_at: :desc).each do |run|
  %li.list-group-item{class: run.finished_successfully? ? "alert-success" : "alert-danger"}
    - if run.finished_successfully?
      Completed successfully
    - else
      Failed
    = time_ago_in_words(run.finished_at)
    ago
    (Duration: #{distance_of_time_in_words(run.started_at, run.finished_at, include_seconds: true)})
    - if run.metric
      &mdash;
      CPU time:
      = run.metric.cpu_time  
      Max memory used:
      = number_to_human_size(run.metric.maxrss * 1024)
