%h3 Finished Runs

-# TODO Only show a limited number of the most recent runs
%ul.list-group
- @scraper.runs.where("finished_at IS NOT NULL").order(finished_at: :desc).each do |run|
  = render partial: "runs/history", locals: {run: run}
