#history
  %h3 History

  -# TODO: Only show a limited number of the most recent runs
  %ul.list-group
    - scraper.finished_runs.each do |run|
      = render partial: "runs/history", locals: {run: run}
    = render partial: 'scrapers/scraper_created_history_item', locals: {scraper: scraper}
