%h3 Statistics
- if scraper.average_successful_wall_time
  %p
    Average successful run time:
    = duration_of_time_in_words(scraper.average_successful_wall_time)
%p
  Total run time:
  = duration_of_time_in_words(scraper.total_wall_time)
%p
  Total cpu time used:
  = duration_of_time_in_words(scraper.cpu_time)
%p
  Total disk space used:
  = number_to_human_size scraper.total_disk_usage
