.nested-fields
  .row
    .col-sm-3
      .webhook.input-group{ class: 'unknown' }
        %span.webhook-status.input-group-addon
          %span.fa.fa-plug{ data: { toggle: 'tooltip' }, title: 'No deliveries yet' }
        = f.input :url, input_html: {class: "name"}
    .col-sm-1
      = link_to_remove_association f do
        %i.fa.fa-times-circle.fa-2x
