%h1= @scraper.name

%p This is where all the information for this scraper and the resulting data will be shown

%p There will be a table with the data, a big button to run the scraper and stuff like that.