# Secret configuration

# Copy this to .env and fill in the x's - these values are then automatically loaded as environment variables
# See https://github.com/bkeepers/dotenv for more information

GITHUB_APP_ID=xxxxxx
GITHUB_APP_NAME=xxxxxxxxxx
GITHUB_APP_CLIENT_ID=xxxxxxxxxxxxxxxxxxxx
GITHUB_APP_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# In development you can run elasticsearch on docker very easily which means
# you don't have to install it.
# Just use: docker-compose up
# Then, point it at the right place. You can get the ip address of docker
# by running: docker-machine ip
# If you're on Linux you can probably comment the line below out
ELASTICSEARCH_URL=http://192.168.99.100:9200

# This secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
# You can use `rake secret` to generate a secure secret key.
SECRET_KEY_BASE=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Google Analytics (leave commented out to disable)
#GOOGLE_ANALYTICS_TRACKING_ID=xx-xxxxxxx-xx

# Heap Analytics (leave commented out to disable)
#HEAP_ANALYTICS_TRACKING_ID=xxxxxxxxxx

# For deployment to a Digital Ocean
DIGITAL_OCEAN_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DIGITAL_OCEAN_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Secret for authenticating sync / faye
SYNC_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Secret for single sign on authentication for Discourse
DISCOURSE_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxx
DISCOURSE_URL=http://discuss.dev.morph.io

# Used by mitmproxy to communicate via the api back to morph
MITMPROXY_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxx
MORPH_URL=http://localhost:3000

# Error reporting to Honeybadger
HONEYBADGER_API_KEY=xxxxxxxx

# We're using Cuttlefish to send mail
CUTTLEFISH_USERNAME=xxxxxxx
CUTTLEFISH_PASSWORD=xxxxxxxxxxxxxxxxxxxx

# Stripe payment processor
STRIPE_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxx
