# Secret configuration

# Copy this to .env and fill in the x's - these values are then automatically loaded as environment variables
# See https://github.com/bkeepers/dotenv for more information

GITHUB_APP_CLIENT_ID=xxxxxxxxxxxxxxxxxxxx
GITHUB_APP_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
