- text = log_line.text
-# Allow clickable links in special streams: internalout and internalerr
- text = auto_link(text) if %w[internalout internalerr].include?(log_line.stream)
= content_tag(:span, text, class: "#{log_line.stream} log_line")
