%p
  Scrapers can be written in
  #{Morph::Language.languages_supported.map{|l| link_to Morph::Language.human(l), Morph::Language.website(l)}.to_sentence(last_word_connector: " or ").html_safe}.
  Simply follow the naming convention:

%ul
  - Morph::Language.languages_supported.each do |l|
    %li
      = image_tag(Morph::Language.image_path(l), size: "20x20")
      = Morph::Language.human(l)
      \-
      %code
        = Morph::Language.language_to_scraper_filename(l)
