%p
  Scrapers can be written in
  #{Morph::Language.languages_supported2.map{|l| link_to l.human, l.website}.to_sentence(last_word_connector: " or ").html_safe}.
  Simply follow the naming convention:

%ul
  - Morph::Language.languages_supported2.each do |l|
    %li
      = image_tag(l.image_path, size: "20x20")
      = l.human
      \-
      %code
        = l.scraper_filename
