.col-xs-12
  - if owners.total_count.zero?
    .alert.alert-info= no_search_results_message("users", q)
  - else
    - owners.with_highlights.each do |owner, highlights|
      = render owner, highlight: highlights
    = paginate owners
