- if current_user.watching?(owner)
  = button_to owner_watch_path(owner), class: "btn btn-default has-tooltip", data: {placement: "bottom", title: "Stop receiving alerts for #{owner.nickname}'s scrapers"} do
    %i.icon-eye-close
    Unwatch
- else
  = button_to owner_watch_path(owner), class: "btn btn-default has-tooltip", data: {placement: "bottom", title: "Receive alerts when any of #{owner.nickname}'s scrapers errors"} do
    %i.icon-eye-open
    Watch
