:markdown
  To have `morph.io` install packages from npm for your scraper, edit the `package.json` file in the root of your repository. You can edit this file by hand, or with `npm install`. For instance to install the `express` and `sqlite3` packages:

  #{render "documentation/libraries/nodejs_example1.html.haml"}

  Make sure that you do not add the `node_modules` directory to git. You should add this directory to your `.gitignore` file.

.row
  .col-sm-9
    :markdown
      #{render "documentation/references/nodejs.md"}
  .col-sm-3
    = improve_button "Improve this section", "references/_nodejs.md"
