<a class="list-group-item" href="/MichaelPhilippone"><div class='row'>
<div class='col-md-2'>
<img alt="MichaelPhilippone" class=" img-circle" height="80" src="https://gravatar.com/avatar/dd4bf175574be5610ccfc7f51a1aff3a?d=https%3A%2F%2Fidenticons.github.com%2Fc5e33b6f076927c478b93dc7f4b1b5fb.png&amp;r=x&amp;s=80" width="80" />
</div>
<div class='col-md-7'>
<div>MichaelPhilippone</div>
<div>Michael Philippone</div>
</div>
<div class='col-md-3'>
<div>
Has
2 scrapers
</div>
</div>
</div>
</a><a class="list-group-item" href="/majklp74"><div class='row'>
<div class='col-md-2'>
<img alt="majklp74" class=" img-circle" height="80" src="https://gravatar.com/avatar/0cf0e40093cd9d24d61a35d065cf5222?d=https%3A%2F%2Fidenticons.github.com%2F81dce0a5eae88aa3fdac2ed5a6cc30d5.png&amp;r=x&amp;s=80" width="80" />
</div>
<div class='col-md-7'>
<div>majklp74</div>
<div>Michal Pupcsik</div>
</div>
<div class='col-md-3'>
</div>
</div>
</a><a class="list-group-item" href="/gicque"><div class='row'>
<div class='col-md-2'>
<img alt="gicque" height="80" src="https://avatars.githubusercontent.com/u/102012?v=3&amp;s=80" width="80" />
</div>
<div class='col-md-7'>
<div>openaustralia</div>
<div>OpenAustralia Foundation</div>
</div>
<div class='col-md-3'>
<div>
Has
10 scraper
</div>
</div>
</div>
</a><a class="list-group-item" href="/fernandouval"><div class='row'>
<div class='col-md-2'>
<img alt="fernandouval" class=" img-circle" height="80" src="https://gravatar.com/avatar/295481f70fde80d451255f488873f2ef?d=https%3A%2F%2Fidenticons.github.com%2F81508738458e7386c9f86860acd97b6c.png&amp;r=x&amp;s=80" width="80" />
</div>
<div class='col-md-7'>
<div>fernandouval</div>
<div>Fernando Uval</div>
</div>
<div class='col-md-3'>
<div>
Contributed to
1 scraper
</div>
</div>
</div>
</a><a class="list-group-item" href="/gabelula"><div class='row'>
<div class='col-md-2'>
<img alt="gabelula" class=" img-circle" height="80" src="https://avatars.githubusercontent.com/u/28330?v=2&amp;s=80" width="80" />
</div>
<div class='col-md-7'>
<div>gabelula</div>
<div>Gabriela Rodriguez</div>
<div>DATAUY - Open News Mozilla Fellow</div>
</div>
<div class='col-md-3'>
<div>
Contributed to
1 scraper
</div>
</div>
</div>
</a><a class="list-group-item" href="/washingtonirving"><div class='row'>
<div class='col-md-2'>
<img alt="washingtonirving" class=" img-circle" height="80" src="https://avatars.githubusercontent.com/u/1804313?v=2&amp;s=80" width="80" />
</div>
<div class='col-md-7'>
<div>washingtonirving</div>
</div>
<div class='col-md-3'>
<div>
Has
1 scraper
</div>
</div>
</div>
</a><a class="list-group-item" href="/lfalvarez"><div class='row'>
<div class='col-md-2'>
<img alt="lfalvarez" class=" img-circle" height="80" src="https://avatars.githubusercontent.com/u/585757?s=80" width="80" />
</div>
<div class='col-md-7'>
<div>lfalvarez</div>
<div>Luis Felipe Álvarez Burgos</div>
<div>Fundación Ciudadano Inteligente</div>
</div>
<div class='col-md-3'>
</div>
</div>
</a>
