.container
  %h1
    - if @user == current_user
      Your
    - else
      #{@user.nickname}'s
    special key is #{@user.api_key}

  %p
    - if @user == current_user
      You
    - else
      They
    will need this for the Morph command line client

  %p
    This key is just for #{@user == current_user ? "you" : "them"}. Don't give it to anyone else.

  - if @user == current_user
    = button_to "Reset key", user_reset_key_path(@user), class: "btn btn-danger"
