.container
  .page-header
    %h1 When users joined
  #chart

:css
  .bar rect {
    fill: steelblue;
    shape-rendering: crispEdges;
  }

  .bar text {
    fill: #fff;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

= javascript_include_tag "d3.js"

:coffee
  d3.json '/users.json', (error, users) ->
    # Convert to dates
    users.forEach (d, i) ->
      d.created_at = Date.parse(d.created_at)

    # A formatter for counts.
    formatCount = d3.format(',.0f')

    margin = {top: 10,  right: 30,  bottom: 30,  left: 30}
    width = 960 - (margin.left) - (margin.right)
    height = 500 - (margin.top) - (margin.bottom)

    x = d3.time.scale()
      .domain([new Date(2014, 0, 1), new Date(2016, 0, 1)])
      .range([0, width])

    # Generate a histogram using twenty uniformly-spaced bins.
    data = d3.layout.histogram()
      .value((u) -> u.created_at)
      .bins(24)(users)

    y = d3.scale.linear()
      .domain([0, d3.max(data, (d) -> d.y)])
      .range([height, 0])

    xAxis = d3.svg.axis()
      .scale(x)
      .orient('bottom')

    svg = d3.select('#chart')
      .append('svg')
      .attr('width', width + margin.left + margin.right)
      .attr('height', height + margin.top + margin.bottom)
      .append('g')
      .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')')

    bar = svg.selectAll('.bar')
      .data(data)
      .enter()
      .append('g')
      .attr('class', 'bar')
      .attr('transform', (d) -> 'translate(' + x(d.x) + ',' + y(d.y) + ')')

    bar.append('rect')
      .attr('x', 1)
      .attr('width', (d) -> x(d.x + d.dx) - x(d.x) - 1)
      .attr('height', (d) -> height - y(d.y))

    bar.append('text')
      .attr('dy', '.75em')
      .attr('y', 6)
      .attr('x', (d) -> (x(d.x + d.dx) - x(d.x)) / 2)
      .attr('text-anchor', 'middle')
      .text (d) -> formatCount d.y

    svg.append('g')
      .attr('class', 'x axis')
      .attr('transform', 'translate(0,' + height + ')')
      .call xAxis
