:markdown
  Use the `Gemfile` to control which version of Ruby is run. For instance: to ensure that your scraper is run with Ruby 1.9.3, add this to your `Gemfile`:

  #{ render "documentation/libraries/ruby_example3" }

  For the full list of support ruby versions see [the Heroku documentation for its Ruby support](https://devcenter.heroku.com/articles/ruby-support#ruby-versions).
