---
#
# Adapted from https://github.com/jprichardson/ansible-redis
#
- name: Set os overcommit memory setting for redis
  sysctl: name=vm.overcommit_memory value=1
- name: ensure build dependencies are installed
  apt: pkg={{ item }} state=latest
  with_items:
    - make
    - build-essential
    - tcl8.5

- name: download latest stable redis
  get_url: url=http://download.redis.io/redis-stable.tar.gz dest=/tmp/redis-stable.tar.gz

- name: untar redis
  unarchive:
    src: /tmp/redis-stable.tar.gz
    dest: /tmp
    creates: /tmp/redis-stable

- name: ensure redis is clean before we build it
  command: make -C /tmp/redis-stable distclean

- name: build redis and install
  command: make -C /tmp/redis-stable install

- name: create redis group
  group: name=redis state=present system=yes

- name: create redis user
  user: name=redis group=redis createhome=no shell=/bin/false system=yes state=present

- name: make sure that /etc/redis exists
  file: path=/etc/redis state=directory mode=0755

- name: make sure that /var/lib/redis exists
  file: path=/var/lib/redis state=directory mode=0755 group=redis owner=redis

- name: make sure redis.log file exists
  file: path=/var/log/redis.log owner=redis group=redis mode=0644 state=touch

# source: https://gist.github.com/geschke/ab6afa91b2d9dfcd5c25#gistcomment-1783748
- name: copy systemd service file
  copy: src=redis-server.service dest=/lib/systemd/system/redis-server.service

- name: copy redis.conf file
  copy: src=redis.conf dest=/etc/redis/redis.conf group=redis owner=redis

- name: ensure redis service is restarted
  service: name=redis-server state=restarted enabled=yes

- name: clean up build files
  command: rm -rf /tmp/{{ item }}
  with_items:
    - redis-stable
    - redis-stable.tar.gz
