:markdown
  1. Install [Node.js](https://nodejs.org/) and [npm](https://www.npmjs.com/).

  2. Clone the scraper you're going to work on:
  <pre>
  git clone git@github.com:yourname/example.git
  cd example
  </pre>

  3. Use `npm` to install the dependencies:
  <pre>npm install</pre>

  4. Run the scraper locally:
  <pre>node scraper.js</pre>
