:markdown
  1. [Install Python](https://www.python.org/downloads/)

  2. Install [`virtualenv`](https://virtualenv.pypa.io/en/latest/) and [`pip`](https://pip.pypa.io/en/stable/installing.html) for package management, and `BeautifulSoup4` for HTML parsing:
  <pre>sudo apt-get install python-pip python-bs4 python-dev python-virtualenv</pre>

  3. Create a `virtualenv` and activate it.
  <pre>
  virtualenv --system-site-packages oaf
  source oaf/bin/activate
  </pre>

  4. Fork and clone the scraper you're going to work on:
  <pre>
  git clone git@github.com:yourname/example.git
  cd example
  </pre>

  5. Use `pip` to install the dependencies:
  <pre>pip install -r requirements.txt</pre>

  6. Run the scraper locally:
  <pre>python scraper.py</pre>
