:markdown
  The [Poltergeist](https://github.com/teampoltergeist/poltergeist) Gem provides a PhantomJS driver for [Capybara](https://github.com/jnicklas/capybara).

  To install it, add `poltergeist` to your scraper Gemfile:
:coderay
  #!ruby
  gem "poltergeist"

:markdown
  Then in your scraper start a Capybara session using Poltergeist:
:coderay
  #!ruby
  require 'capybara/poltergeist'

  capybara = Capybara::Session.new(:poltergeist)
  # Start scraping
  capybara.visit("https://morph.io/")
