.banner.banner-metrics
  .container
    %h3 This week at morph.io
    - cache 'vanity_stats', :expires_in => 1.hour do
      .metric-box.col-sm-4
        %strong 350,987
        web pages scraped
      .metric-box.col-sm-4
        %strong 1,236,347
        rows of data collected
      .metric-box.col-sm-4
        %strong 51,110
        downloads &amp; API queries
