- content_for :title, "Documentation"

:markdown
  # A joyful birth of some documentation!

  ### What languages can scrapers be written in?
  Scrapers can be written in [Ruby](https://www.ruby-lang.org/en/), [PHP](http://www.php.net/) or Python.
  Simply follow the naming convention:

  * Ruby - `scraper.rb`
  * PHP - `scraper.php`
  * Python - `scraper.py`

  ### In what format do I write out the data I've scraped?
  Write to a tabled `#{Database.sqlite_table_name}` in an sqlite database in the current
  working directory called `#{Database.sqlite_db_filename}`. How you do that and what fields you include is entirely up to you.

  ### What version of the language and what libraries do I have access to?
  The language versions and libraries available are intended as close as possible to those available on
  [ScraperWiki Classic](https://classic.scraperwiki.com/) as of January 2014. The main difference is that the scraperwiki library
  has been patched to write out by default to the convention used in Morph for the table and sqlite database names.

  #### Ruby 1.9.2-p320
  Here is the [list of installed Gems](https://github.com/openaustralia/morph-docker-ruby/blob/master/Gemfile) directly from the
  source that's used to build the docker image.
  
  #### PHP 5.3.10
  The version of PHP is very slightly more recent than the one on ScraperWiki classic. It is a bug fix release.
  To see in detail what's installed see the [docker source on Github](https://github.com/openaustralia/morph-docker-php).

  #### Python 2.7.3
  This version of Python is very slightly more recent than the one on ScraperWiki Classic (2.7.1). It is a bug fix release.
  To see in detail what libraries are installed see the [docker source on Github](https://github.com/openaustralia/morph-docker-python).
   
  ### What if I want to install a library that isn't currently installed?
  Right now you have to either [ask us to do it for you](mailto:contact@oaf.org.au) or make a pull request against one of the
  morph-docker repositories which build the docker images.

  The plan ([#3](https://github.com/openaustralia/morph/issues/3) [#153](https://github.com/openaustralia/morph/issues/153)
  [#154](https://github.com/openaustralia/morph/issues/154)) is to make this a lot easier using Buildpacks.
  For instance in Ruby you'll be able to include your own Gemfile which will be automatically loaded for you.

  ### How do I run a scraper on my own machine?
  Install [morph command line](https://github.com/openaustralia/morph-cli). First, check you have Ruby 1.9 or greater and rubygems installed. Then,

      gem install morph-cli

  To run a scraper go to the directory and

      morph

  It will run your local scraper on the Morph server and stream the console output back to you. You can use this with any support scraper
  language without the hassle of having to install lots of things.

