%h1 Hello!

%p This page will become the landing page for the scraping platform. Yes!

.row
  .span6
    %h2 All Users
    %ul
      - User.all.each do |user|
        %li= link_to user.name, user
  .span6
    %h2 All Scrapers
    %ul
      - Scraper.all.each do |scraper|
        %li= link_to scraper.full_name, scraper
