- set_meta_tags description: 'Get structured data out of the web. Code collaboration through GitHub. Run your scrapers in the cloud.'

- if signed_in?
  = render "signed_in_index"
- else
  = render "signed_out_index"

= render "vanity_stats"

.container
  .row
    .col-xs-12.featured-supporters-block
      %h2 Featured supporters
      %p These wonderful people provide financial support to make morph.io even more awesome.
      %ul.owner-list-simple.list-unstyled.list-inline
        - Owner.featured_supporters.each do |user|
          %li.owner-item= link_to owner_image(user, 60), user
