- set_meta_tags description: 'Get structured data out of the web. Code collaboration through GitHub. Run your scrapers in the cloud.'

- if signed_in?
  = render "signed_in_index"
- else
  = render "signed_out_index"

= render "vanity_stats"
= render "featured_supporters"
