- set_meta_tags description: 'Get structured data out of the web. Code collaboration through GitHub. Run your scrapers in the cloud.'

- if signed_in?
  = render "signed_in_index"
- else
  = render "signed_out_index"

.banner.banner-metrics
  .container
    %h3 This week
    .metric-box.col-sm-4
      %strong 22,000
      web pages scraped
    .metric-box.col-sm-4
      %strong 750,000
      rows of data collected
    .metric-box.col-sm-4
      %strong 5,000
      downloads &amp; API queries
