%p
  Write to a table <code>#{Morph::Database.sqlite_table_name}</code> in an sqlite database in the
  current working directory called <code>#{Morph::Database.sqlite_db_filename}</code>.
  How you do that and what fields you include is entirely up to you.
