%p
  Scrapers can be written in
  #{Morph::Language.languages_supported.map { |l| link_to l.human, l.website }.to_sentence(last_word_connector: ' or ').html_safe}.
  Simply follow the naming convention:

%table.table
  %thead
    %tr
      %th Language
      %th What to call the main scraper file
  %tbody
    - Morph::Language.languages_supported.each do |l|
      %tr
        %td= language_name_with_icon(l.key, size: "20x20")
        %td
          %code= l.scraper_filename
