- content_for :title, "Documentation"

.row
  .col-sm-10
    :markdown
      #{render "index.md"}
  .col-sm-2
    = link_to "Improve this page", "https://github.com/openaustralia/morph/blob/master/app/views/documentation/_index.md", class: "btn btn-default"
