%h1
  = image_tag("languages/perl.png", size: "30x30")
  Perl

.row
  .col-sm-9
    :markdown
      #{render "buildpacks_perl.md"}
  .col-sm-3
    = improve_button "Improve this section", "_buildpacks_perl.md"
