- content_for :title, "Using PhantomJS"
:markdown
  ## PhantomJS

  In most circumstances web scraping is done by downloading a web page using your programming language and a library.
  However in some cases you need to simulate a web browser.
  This could be because the web site is poorly programmed or because it makes extensive use of JavaScript.

  You can do this with [PhantomJS](http://phantomjs.org/) on morph.io. It is essentially a headless browser that you can control from your scraper using JavaScript or a wrapper library.

%h3 Using
= render "language_tabs", id_prefix: "using_phantomjs", path: "documentation/phantomjs"

%h3 Examples
= render "missing_documentation"
