%h1
  = image_tag("languages/php.png", size: "30x30")
  PHP

.row
  .col-sm-9
    :markdown
      #{render "buildpacks_php.md"}
  .col-sm-3
    = improve_button "Improve this section", "_buildpacks_php.md"
