- content_for :title, "Pricing"
.container
  %h1 Pricing

  %h3 During Morph.io’s beta period the service is free
  = image_tag "blurred_pricing.jpg", class: "center-block"

  :markdown
    This allows you to use the service in full and lets us know what features are
    most useful to you and also allows us to understand what it costs us to run
    this service for you.

    It is our intention to keep Morph.io free for most people; so if you’re a
    casual user who has a few scrapers that are lightweight, morph.io will stay
    free and become an incredibly useful tool that you can depend on.

    For the heavy users, based on actual usage, we will be bringing in very
    reasonable paid plans that help pay for continued development of Morph and
    its server infrastructure.

    We also plan to support private scrapers which will be under a paid plan as well.
