%h1
  = image_tag("languages/python.png", size: "30x30")
  Python

.row
  .col-sm-9
    :markdown
      #{render "buildpacks_python.md"}
  .col-sm-3
    = improve_button "Improve this section", "_buildpacks_python.md"
