%h1
  = image_tag("languages/ruby.png", size: "30x30")
  Ruby

.row
  .col-sm-9
    :markdown
      #{render "buildpacks_ruby.md"}
  .col-sm-3
    = improve_button "Improve this section", "_buildpacks_ruby.md"
