- title "Moving your scrapers from ScraperWiki Classic"

:markdown
  ## #{title}

  It's extremely straightforward to migrate your scrapers from
  [ScraperWiki Classic](https://classic.scraperwiki.com/) to morph.io. It takes
  a single click.

  Simply go to your scraper on ScraperWiki classic and press the "Transfer to Morph.io" button

  #{image_tag 'transfer_to_morph.png'}

  Read [ScraperWiki's guide to the retirement of ScraperWiki Classic](https://blog.scraperwiki.com/2014/03/scraperwiki-classic-retirement-guide/) which also
  explains how this works.

  ### Default libraries are compatible with ScraperWiki Classic

  To make it super easy to migrate scrapers from ScraperWiki Classic the default libraries
  that your scraper can use are as close as possible to those installed on
  ScraperWiki Classic as of January 2014.

  Once you've moved over to morph.io you can use whatever libraries you want.
  See the page ["Using any library in your scraper"](#{libraries_documentation_index_path})

= render "language_tabs", id_prefix: "default_libraries", path: "documentation/default_libraries"
