- title "Scraping JavaScript heavy sites"
:markdown
  ## #{title}

  In most circumstances web scraping is done by downloading a web page using your programming language and a library.
  However in some cases you need to simulate a web browser.
  This could be because the web site is poorly programmed or because it makes extensive use of JavaScript.

  You can do this by using a headless browser. On morph.io [Google Chrome](https://www.google.com/chrome/)
  is pre-installed ready for you to use.

%h3 Using Chrome Headless
:markdown
  The Google Chrome binary is installed at `/usr/bin/google-chrome` on every morph.io container
  as [part of the build process](https://github.com/openaustralia/buildstep/blob/master/Dockerfile).
  You can use Google Chrome directly by running it with `google-chrome --headless --disable-gpu` or
  you can control it via WebDriver with [ChromeDriver](https://sites.google.com/a/chromium.org/chromedriver/)
  which is installed on morph.io at `/usr/local/bin/chromedriver`.

%h4 Usage
= render "language_tabs", id_prefix: "using_chrome_headless", path: "documentation/chrome_headless"

= render "examples", full_names: ["openaustralia/example_ruby_chrome_headless_scraper"]
