%pre
  - if current_user
    = curl_command_linked(content_tag(:span, scraper.full_name, class: "full_name"), content_tag(:span, "json", class: "format"), content_tag(:span, CGI::escape(current_user.api_key), class: "api-key"), content_tag(:span, CGI::escape(query), class: "query"), content_tag(:span, "", class: "callback"))
  - else
    = curl_command(content_tag(:span, scraper.full_name, class: "full_name"), content_tag(:span, "json", class: "format"), "[api_key]", content_tag(:span, CGI::escape(query), class: "query"), content_tag(:span, "", class: "callback"))
