%p
  This example uses #{link_to 'jquery', 'http://jquery.com/'}.
  Also, you could use this in a web browser as it requests jsonp.

- block = capture do
  :coderay
    #!javascript
    var morph_api_url = '[scraper_url]/data.json';
    var morph_api_params = {
      // Keep this key secret!
      key: '[api_key]',
      query: "[query]"
    };

    $.ajax({
      url: morph_api_url + '?' + $.param(morph_api_params),
      dataType: 'jsonp',
      success: function(data) {
        console.log('received data: ' + JSON.stringify(data));
      }
    });

= substitute_api_params(block, scraper: scraper, user: current_user, query: query)
