%p Use the following code snippet to get data from the API.

:coderay
  #!php
  <?php
  $morph_api_url = "https://api.morph.io/[USERNAME]/[SCRAPER NAME]/data.json";
  $morph_api_key="[API KEY]";

  $query="select * from 'data' limit 10";

  $response=file_get_contents($morph_api_url.'?key='.$morph_api_key.'&query='.urlencode($query));
  $js=json_decode($response,true);

  foreach ($js as $line){
    [DO WIZARDRY]
  }
  ?>
