- block = capture do
  :coderay
    #!python
    # Get data from the morph.io api
    import requests

    # We're always asking for json because it's the easiest to deal with
    morph_api_url = "[scraper_url]/data.json"

    # Keep this key secret!
    morph_api_key = "[api_key]"

    r = requests.get(morph_api_url, params={
      'key': morph_api_key,
      'query': "[query]"
    })

    print r.json()

= substitute_api_params(block, scraper: scraper, user: current_user, query: query)

%p
  You'll need the requests library if you don't already have it. Install it with

%pre
  pip install requests
