%p To your <code>Gemfile</code> add

:coderay
  #!ruby
  gem 'rest-client'
  gem 'json'

%p
  Then run <code>bundle install</code>. Use the following code snippet to get data
  from the API.

- block = capture do
  :coderay
    #!ruby
    # Get data from the morph.io api
    require 'rest-client'
    require 'json'

    # We're always asking for json because it's the easiest to deal with
    morph_api_url = '[scraper_url]/data.json'

    # Keep this key secret!
    morph_api_key = '[api_key]'

    result = RestClient.get morph_api_url, params:
      {
        key: morph_api_key,
        query: '[query]'
      }

    p JSON.parse(result)

= substitute_api_params(block, scraper: scraper, user: current_user, query: query)
