.site-header {
  .container {
    @media (min-width: $grid-float-breakpoint) and (max-width: $screen-md-max) {
      width: 100%;
    }
  }

  form[role="search"] {
    // restrict width of search form to avoid nav-bar wrapping
    @media (min-width: $grid-float-breakpoint) and (max-width: 67em) {
      width: 13em;
    }
  }
}

// override bootstrap default height, which
// is too short for our content.
.navbar-fixed-top .navbar-collapse {
  max-height: 370px;
}

.help .glyphicon-new-window {
  font-size: 70%;
}
