.site-header {
  .container {
    @media (min-width: $grid-float-breakpoint) and (max-width: $screen-md-max) {
      width: 100%;
    }
  }
}

// Override bootstrap maximum menu height so it doesn't scoll
.navbar-fixed-top .navbar-collapse {
  max-height: none;
}

.help .glyphicon-new-window {
  font-size: 70%;
}
