%div
  - if scraper.create_scraper_progress
    = render partial: "scrapers/show_forking", locals: { scraper: scraper }
  - else
    = render partial: "scrapers/show_normal", locals: { scraper: scraper }
