<div class="results-pagination">
  <div class="page-controls">


<ul>

    <li class="button first inactive">
        <span>First</span>
    </li>


    <li class="button prev inactive">
        <span>Back</span>
    </li>


    <li>
        <strong>1</strong>
    </li>

    <li>
        <a href="?page=2" title="Page 2">2</a>
    </li>

    <li>
        <a href="?page=3" title="Page 3">3</a>
    </li>


    <li class="button next">
        <a href="?page=2" title="Next page">Next</a>
    </li>


    <li class="button last">
        <a href="?page=3" title="Last page">Last</a>
    </li>

</ul>

</div>
  <!-- end page-controls -->
  <!-- end sort-controls -->
</div>
