.container
  .row.text-center
    %h2 Thank you
    %p.lead
      The
      = link_to "continued support", new_supporter_path
      of these wonderful people keeps morph.io free for everyone and makes it even more awesome.

  .row
    - Plan.all_plans.each do |plan|
      - unless Owner.supporters(plan).empty?
        .col-xs-12
          %h2
            = link_to plan.name.pluralize, new_supporter_path
          = render Owner.supporters(plan)
