.container
  .page-header
    %h1 Thank you
    %p.lead
      The continued support of these wonderful people keeps morph.io free for everyone and makes it even more awesome.
      - unless user_signed_in? && current_user.supporter?
        #{link_to 'Join them and become a supporter too', new_supporter_path}.

  .row
    - Plan.all_plans.each do |plan|
      - unless Owner.supporters(plan).empty?
        .col-xs-12
          %h2
            = link_to plan.name.pluralize, new_supporter_path
          = render Owner.supporters(plan)
