.container
  %h1.page-header Pricing Table
  %p &#160;
  .row.pricing
    .col-lg-3.col-md-3.col-xs-6
      %ul.plan.plan1
        %li.plan-name
          Basic
        %li.plan-price
          %strong $29
          \/ month
        %li
          %strong 5GB
          Storage
        %li
          %strong 1GB
          RAM
        %li
          %strong 400GB
          Bandwidth
        %li
          %strong 10
          Email Address
        %li
          %strong Forum
          Support
        %li.plan-action
          %a.btn.btn-danger.btn-lg{:href => "#"} Signup
    .col-lg-3.col-md-3.col-xs-6
      %ul.plan.plan2.featured
        %li.plan-name
          Standard
        %li.plan-price
          %strong $39
          \/ month
        %li
          %strong 5GB
          Storage
        %li
          %strong 1GB
          RAM
        %li
          %strong 400GB
          Bandwidth
        %li
          %strong 10
          Email Address
        %li
          %strong Forum
          Support
        %li.plan-action
          %a.btn.btn-danger.btn-lg{:href => "#"} Signup
    .col-lg-3.col-md-3.col-xs-6
      %ul.plan.plan3
        %li.plan-name
          Advanced
        %li.plan-price
          %strong $199
          \/ month
        %li
          %strong 50GB
          Storage
        %li
          %strong 8GB
          RAM
        %li
          %strong 1024GB
          Bandwidth
        %li
          %strong Unlimited
          Email Address
        %li
          %strong Forum
          Support
        %li.plan-action
          %a.btn.btn-danger.btn-lg{:href => "#"} Signup
    .col-lg-3.col-md-3.col-xs-6
      %ul.plan.plan4
        %li.plan-name
          Mighty
        %li.plan-price
          %strong $999
          \/ month
        %li
          %strong 50GB
          Storage
        %li
          %strong 8GB
          RAM
        %li
          %strong 1024GB
          Bandwidth
        %li
          %strong Unlimited
          Email Address
        %li
          %strong Forum
          Support
        %li.plan-action
          %a.btn.btn-danger.btn-lg{:href => "#"} Signup
