---
# This playbook is for provisioning on a Linode box. It should be at least a Linode 2048 box and have
# 64 bit Ubuntu 12.04 LTS with 256 MB swap (I think).
#
# To run in development:
# vagrant provision local
#
# To run in production:
# cd provisioning
# ansible-playbook --user=root -i hosts playbook.yml
#
- hosts: all
  become: true
  pre_tasks:
    - name: Upgrade all packages first
      apt:
        update_cache: yes
        cache_valid_time: 300
        upgrade: yes
  roles:
    - morph-app
