---
# This playbook is for provisioning on a Linode box. It should be at least a Linode 24GB box and have
# 64 bit Ubuntu 16.04 LTS with 2GB swap device.
# Vagrant doesn't have a swap partition, so a 4GB swapfile is created
#
# To run in development (local vagrant VM):
# vagrant provision local
#
# To run in production:
# ansible-playbook --user=root -i provisioning/inventory/production provisioning/playbook.yml
#
# To run in staging:
# ansible-playbook --user=root -i provisioning/inventory/staging.py provisioning/playbook.yml
#
# Run this from the root directory so that it picks up the ansible.cfg
# and so knows where to look for the ansible vault password

# To get the value of an encrypted variable:
# ansible morph.io -i provisioning/inventory/production -m debug -a "var=github_app_client_id"
# OR
# ansible morph.io -i provisioning/inventory/staging.py -m debug -a "var=github_app_client_id"

# Ubuntu 16.04 LTS doesn't come with python pre-installed. We need that for
# Ansible to work (for the gather facts). So install python first
- hosts: all
  become: true
  gather_facts: False

  tasks:
  - name: install python 2
    raw: test -e /usr/bin/python || (apt -y update && apt install -y python-minimal)
    tags: ['python'] 

# Some features in the playbook need ansible2.5+ and later ubuntu require more recent ansible, so let's check for that first

- hosts: all
  pre_tasks:
    - name: Verify Ansible meets version requirements.
      assert:
        that: "ansible_version.full is version('2.9.17', '>=')"
        msg: >
          "You must update Ansible to at least 2.9.17 to use this playbook."

- hosts: all
  become: true
  pre_tasks:
    - name: Upgrade all packages first
      apt:
        update_cache: yes
        cache_valid_time: 300
        upgrade: yes
      tags: ['upgrade'] 
  roles:
    - { role: swapfile, tags: ['swapfile', 'swap'] }
    - { role: ansible-yarn, tags: ['yarn'] }
    - { role: morph-app, tags: ['morph'] }
    - { role: discourse, tags: ['discourse'] }
  # The default behaviour is for handlers not to get called if a playbook fails
  # for any reason. Make handlers get called
  force_handlers: True

# Install local development environment for vagrant user
- hosts: development
  become: true
  roles:
    - { role: vagrant, tags: ['vagrant'] }
  # The default behaviour is for handlers not to get called if a playbook fails
  # for any reason. Make handlers get called
  force_handlers: True
