// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
  width: 100%;

  .call-to-action {
    margin: 1em 0 0;
  }
}

.container#banner {
  height: 516px;
  color: white;

  h2,
  h3 {
    text-shadow: 0px .5px 3px rgba(20,30,0,0.4);
  }

  h2 {
    font-size: 4em;

    @media (min-width: 768px) {
      margin-top: 70px;
    }
  }

  .lower {
      position: absolute;
      width: 100%;
      top: 330px;
  }
}

.container#benefits {
  background-color: #FAFAFA;
  text-align: center;
  padding-top: 40px;
  .col-md-4 {
    h4 {
      padding-top: 25px;
    }
    padding-top: 30px;
  }
  padding-bottom: 60px;
  i {
    color: #555;
  }
}

.jumbotron#introducing {
  background-color: #b1d05f;
  text-align: center;
}

.container#quotes {
  padding-top: 48px;
  padding-bottom: 48px;
}

.banner-quotes {
  p {
    font-size: 1.125em;
  }

  footer {
    margin-top: 1em;
    font-size: 1em;

    &:before {
      content: none;
    }

    img {
      margin-right: .5em;
    }

    .h-card {
      span {
        display: block;
      }
    }

    .p-name {
      font-size: 1.125em;
    }
  }
}
