// Place all the styles related to the documentation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sidebar {
  margin-top: 20px;
}

// This is so that anchor links take the page to the correct spot
.section {
  padding-top: 80px;
  margin-top: -50px;
}

.improve {
  margin-top: 26px;
}
