// Place all the styles related to the scrapers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-responsive.scraper-data {
  overflow-x: scroll;
  -webkit-mask: -webkit-linear-gradient(
      left,
      rgba(255,255,255,1) 95%,
      rgba(255,255,255,0)
    );
}

span.stderr {
  color: red;
}