// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-header {
  margin-bottom: 2em;

}

.search-type-nav {
  margin-bottom: 2em;
}

.search-results em {
  font-style: normal;
  background-color: rgba(255,255,140,0.5);
}
