// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Rails 6.0 needs explicit import of variables and mixins
@import "variables";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "tablesaw.stackonly";

.search-form {
  margin-bottom: 2em;

}

.search-type-nav {
  margin-bottom: 20px;
}

.search-results {
  .list-group-item em {
    font-style: normal;
    background-color: rgba(255,255,140,0.5);
  }

  .alert {
    margin-top: 0;
  }

  aside {
    @media (min-width: $screen-md-min) {
      float: right;
    }
  }
}

.list-filters {
  h2 {
    margin: 0;
    font-weight: normal;
    height: 0;

    @media (min-width: $screen-md-min) {
      margin: 0 0 $padding-large-vertical;
      height: auto;
    }
  }

  .btn-group {
    margin: 0 0 20px;

    @media (min-width: 18em) {
      display: flex;
    }

    @media (min-width: $screen-md-min) {
      display: inline-block;
    }

    .badge {
      background-color: $gray-light;
    }
  }

  a {
    font-size: $font-size-small;

    @media (min-width: 18em) {
      flex-grow: 1;
    }

    @media (min-width: $screen-md-min) {
      padding: 5px 15px;
    }
  }
}
