// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#get_started_btn {
  font-size: 1.25em;
  margin-top: 40px;
}

.container#benefits {
  width: 100%;
  background-color: #FAFAFA;
  text-align: center;
  padding-top: 40px; 
  .col-md-4 {
    h4 {
      padding-top: 25px;
    }
    padding-top: 30px;
  }
  padding-bottom: 60px;
}

.container#introducing {
  width: 100%;
  background-color: #b1d05f;
  padding-top: 100px;
}

.container#quotes {
  width: 100%;
  padding-top: 100px;
}