// Place all the styles related to the supporters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Rails 6.0 needs explicit import of variables and mixins
@import "variables";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "tablesaw.stackonly";

.pricing {
  margin-top: 4em;
  margin-bottom: 2em;

  .col-centered {
    min-width:320px;
  }

  ul.plan {
    border-radius: 6px;
    list-style: none;
    padding: 0 0 20px;
    margin: 0 0 45px;
    background: #f5f5f5;
    text-align: center;
    li {
      padding: 10px 15px;
      color: #888;
      border-top: 1px solid #fff;
      -webkit-transition: 300ms;
      transition: 300ms;
    }
    li.plan-price {
      border-top: 0;
      font-size: 1.5em;
    }
    li.plan-name {
      border-radius: 6px 6px 0 0;
      padding: 15px;
      font-size: 24px;
      line-height: 24px;
      color: #fff;
      background: $offset-color;
      margin-bottom: 30px;
      border-top: 0;
      img {
        display: block;
        margin: auto;
        margin-bottom: 0.5em
      }
    }
    li > strong {
      color: #e74c3c;
    }
    li.plan-action {
      margin-top: 10px;
      border-top: 0;
    }
  }

  ul.plan.featured {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  ul.plan:hover li.plan-name {
    background: #c0392b;
  }
}

img.plan {
  opacity: 0.7;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.plan-questions {
  margin-top: 6em;
  padding-top: 2em;
  padding-bottom: 3em;
  background-color: #b1d05f;
}

.icon-credits {
  background-color: #b1d05f;
  margin-bottom: -20px;
  padding-bottom: 1em;
  color: white;
}

.one-time-contribution {
  text-align: center;
}

.supporter-plan {
  a {
    color: white;
  }
  img {
    vertical-align: baseline;
  }
}

// Animation code below from
// http://anicollection.github.io/#/bouncing_entrances/bounceInDown

/*base code*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes bounceInDown {
  0%, 100%, 60%, 75%, 90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0)
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0)
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0)
  }
  100% {
    -webkit-transform: none;
    transform: none
  }
}
@keyframes bounceInDown {
  0%, 100%, 60%, 75%, 90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    -ms-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0)
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0)
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0)
  }
  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown
}

// End of animation code
