// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button_title_adjust {
  margin-top: 24px;
}

#owner-info {
  padding: 15px 0;
  background-color: $offset-color;
  width: 100%;
  h1 {
    margin-top: 0;
  }
}

.owner-box {
  padding-top: 15px;
  padding-bottom: 15px;
}

.owner-item {
  display: block;

  + .owner-item {
    margin-top: 1.5em;
  }

  .media-left {
    @media (min-width: $screen-sm-min) {
      padding-right: 15px;
    }
  }

  .media-heading {
    margin-top: 5px;
  }
}
